@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --bg: #0B0B0F;
    --text: #FFFFFF;
    --card: #15151D;

    --primary: #8B5CF6;   /* roxo mais sofisticado */
    --secondary: #22D3EE; /* azul mais suave */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(-135deg, var(--bg), var(--card));
    background-attachment: fixed;
    color: white;
    height: 100vh;
}

.container {

    width: 100%;
    max-width: 580px;
    min-width: 300px;
    margin: 0 auto;
    line-height: 2em;
    padding: 0em 2.4em;
    margin-top: 2.5em;
    border-radius: 30px;
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.4),
        0 0 25px rgba(128, 0, 255, 0.014),
        0 0 60px rgba(0, 242, 255, 0.08);
    background-color: var(--bg);

}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 3em 0px;
}

.profile img {
    width: 120px;
    margin-bottom: 20px;
    border: 3px solid #8000ff9f;
    border-radius: 50%;
}

.typing {
    width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #fff;

    animation:
        typing 2s steps(14, end) infinite alternate,
        blink 0.7s step-end infinite;
}


.cima-item p {
    font-weight: 200;
    margin-bottom: 8px;

}



.redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 8px 0px;
}

.redes i {
    font-size: 24px;
    color: white;
    transition: .2s;
}

.redes i:hover {
    /*color: rgba(255, 255, 255, 0.178);*/
    color: var(--primary);
}


/* CAIXA DE MÍDIA */

.midias {
    width: 100%;
}

.midias h2 {
    padding: 1.2rem;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    color: #00f2ffd3;
}

.cont-midias {
    display: flex;
    flex-direction: column;
}

/* CONTAINER MIDIAS */

.cont-midias a {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    padding: 14px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: .2s ease-in;
    position: relative;

    border-bottom: 1px solid #ffffff0a;

}

.cont-midias a:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transform: translateY(-5px);
}


.cont-midias a i {
    padding-left: 20px;
    position: absolute;
    left: 0;
    font-size: 18px;
}

.cont-midias a span {
    width: 100%;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
}

/* FOOTER */

.foot {
    width: 100%;
    padding: 5px 10px 40px 10px;
    text-align: center;
}

.foot p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.233);
}

.foot h3 {
    font-size: 18px;
}

.foot a {
    text-decoration: none;
    color: var(--primary);

}

.foot a:hover {
    text-decoration: underline;
    color: #0044ff91;
}



/* ANIMATIOS */

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 12ch;
        /* número de caracteres do texto */
    }
}

/* Cursor piscando */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 610px) {
    .container {
        margin: 0;
        border-radius: 0;
    }
}